      <div
        id="completed-missions"
        class="font-primary flex flex-col items-center gap-2 lg:gap-4 mt-16 pt-12 mb-12"
      >
        <h3 class="text-4xl md:text-5xl lg:text-6xl font-bold text-skin-accent">Kegiatan & Acara</h3>
        <p class="text-white-muted text-xl lg:text-2xl">Kegiatan serta kontribusi kami untuk makhluk hidup</p>
      </div>
      <div class="flex flex-col w-full px-8 lg:px-0 lg:w-2/3 gap-4">
        <div
          class="h-32 md:h-40 lg:h-48 w-full [clip-path:polygon(1%_0%,100%_0%,99%_100%,0%_100%)] relative before:content-[''] before:absolute before:w-full before:h-full before:bg-gradient-to-l before:from-[#ffe8ae] before:to-transparent before:z-[1] backdrop-blur-sm"
        >
          <img
            class="absolute opacity-40 w-full h-full object-cover object-top"
            src="../../public/img/rajabasa.jpg"
            alt="&#34;screenshoot of Sipermata Untad"
          />
          <div
            class="isolate absolute z-10 p-4 md:p-6 lg:p-8 flex flex-col justify-end items-start h-full w-full text-white overflow-hidden"
          >
            <h4 class="text-xl lg:text-4xl font-primary font-bold">1 Gunung 1 Pohon</h4>
            <p class="text-xs md:text-sm lg:text-base text-left text-gray-200">Berkomitmen untuk menanam 1 pohon di gunung yang sedang di daki.</p>
            <div class="flex w-full mt-2 lg:mt-4 items-end gap-2 justify-between">
            </div>
          </div>
        </div>
        <!-- akhir event 1 -->
        <div
          class="h-32 md:h-40 lg:h-48 w-full [clip-path:polygon(1%_0%,100%_0%,99%_100%,0%_100%)] relative before:content-[''] before:absolute before:w-full before:h-full before:bg-gradient-to-l before:from-[#ffe8ae] before:to-transparent before:z-[1] backdrop-blur-sm"
        >
          <img
            class="absolute opacity-40 w-full h-full object-cover object-top"
            src="../../public/img/tanggamus.jpg"
            alt="&#34;screenshoot of YGBK Enterprise"
          />
          <div
            class="isolate absolute z-10 p-4 md:p-6 lg:p-8 flex flex-col justify-end items-start h-full w-full text-white overflow-hidden"
          >
            <h4 class="text-xl lg:text-4xl font-primary font-bold">Bakti Sosial</h4>
            <p class="text-xs md:text-sm lg:text-base text-left">Bakti sosial bersama anggota komunitas dan masyarakat.</p>
          </div>
        </div>
        <!-- akhir event 2 -->
        <div
          class="h-32 md:h-40 lg:h-48 w-full [clip-path:polygon(1%_0%,100%_0%,99%_100%,0%_100%)] relative before:content-[''] before:absolute before:w-full before:h-full before:bg-gradient-to-l before:from-[#ffe8ae] before:to-transparent before:z-[1] backdrop-blur-sm"
        >
          <img
            class="absolute opacity-40 w-full h-full object-cover object-top"
            src="../../public/img/rajabasa.jpg"
            alt="&#34;screenshoot of YGBK Enterprise"
          />
          <div
            class="isolate absolute z-10 p-4 md:p-6 lg:p-8 flex flex-col justify-end items-start h-full w-full text-white overflow-hidden"
          >
            <h4 class="text-xl lg:text-4xl font-primary font-bold">Edukasi Lingkungan</h4>
            <p class="text-xs md:text-sm lg:text-base text-left">workshop atau seminar tentang pentingnya konservasi alam, teknik mendaki yang ramah lingkungan.</p>
          </div>
        </div>
        <!-- akhir event 3 -->
      </div>